:root {
	--backdrop: #484847;
	--border: #91C4F2;
	--text: #FFFFFF;
	--border-radius: 0.25em;
	--animation-duration: 250ms
}
*{
	padding: 0;
	overflow: hidden;
	margin: 0;
	background-color: var(--backdrop);
	color: var(--text);
	font-family: "Pixelify Sans Variable", sans-serif !important;
} 