:root {
	--backdrop: #231123;
	--accent-pink: #82204A;
	--border: #91C4F2;
	--important: #E8DB7D;
	--text: #EFF7FF;
	--border-radius: 0.25em;
	--animation-duration: 250ms
}
*{
	padding: 0;
	overflow: hidden;
	margin: 0;
	background-color: var(--backdrop);
	color: var(--text);
	font-family: "Pixelify Sans Variable", sans-serif !important;
} 